{% extends "GladturTagBundle::layout.html.twig" %}
{% block content %}
<div class="main_left" style="float:left;width:580px;margin-right:45px">
<h1>Location edit</h1>
Debug: {{ entity.locationDataForMyProfilePeers | json_encode }}
<form action="{{ path('location_user_data_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('location_user_data') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('location_user_data_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
<div class="main_right" style="float:left;width:336px">

</div>
{% endblock %}