<!-- UserLocationData/index.html.twig //-->
<div>
    <p>User Location Data!</p>
    {% for entity in entities %}
        {{ entity.readableName }} ({{ entity.location.id }}) - af brugeren '{{ entity.user.username }}'
        <ul>
            <li>Opens at: {{ entity.hoursOpeningtime | json_encode  }}</li>
            <li>Closes at: {{ entity.hoursClosingtime | json_encode }}</li>
        </ul>
        <div>
            <h3>Media and description of this place:</h3>
            {{ entity.media }}
            {{ entity.txtDescription }}
        </div>
    {% endfor %}
</div>
<div class="admin_actions">
    {% include "GladturTagBundle:UserLocationData:role_admin.html.twig" %}
</div>
