<!html>
<head>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery.ui.core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery.ui.widget.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery.ui.position.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery.ui.autocomplete.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css') }}" />
    <script>
        // Method to use: http://jqueryui.com/autocomplete/#categories
        $(document).ready(function(){
        //http://stackoverflow.com/questions/5939801/passing-extra-parameters-to-source-using-jquery-ui-autocomplete
        var xhr;
            $('#form_location_name').autocomplete({
                minLength: 4,
                source: function( request, response ) {
                    var regex = new RegExp(request.term, 'i');
                    if(xhr){
                        xhr.abort();
                    }
                    xhr = $.ajax({
                        url: "{{ path('_location_duplicatecheck_submit') }}",
                        dataType: "json",
                        data: {
                            location_name: request.term
                        },
                        cache: false,
                        success: function(data) {
                            response($.map(data, function(item) {
                                if(regex.test(item.label)){
                                    return {
                                        label: item.label
                                    };
                                }
                            }));
                        }
                    });
                }

                /*,
                select: function( event, ui ) {
                    window.location.href='/sted/' + ui.item.slug;
                    return false;
                }*/
            });
        });
    </script>
</head>
<body>
<form method="POST" action="{{ path('_location_duplicatecheck_submit') }}" id="location_duplicatecheck_form" class="ajax_submit"/>
<h3>Indtast stedets navn og vælg byen det findes i</h3>
{% if form.city is defined %}
{{ form_row(form.city) }}
{% endif %}
{{ form_row(form.location_name) }}
<input type="submit" value="Videre..." id="location_duplicatecheck_submit"/>
<input type="reset" value="Fortryd"/>
</form>
</body>
</html>
