{% block form_label %}
    {% spaceless %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
<div class="btn_label">
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <div class="label_title">{{ label|trans({}, translation_domain) }}</div></label></div>
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% if expanded %}
            <ul class="plainlist {{ attr.class }}" {{ block('widget_container_attributes') }}>
                <li><input type="radio" name="form[category]" id="form_category_all" value="" checked="checked">
                    <div class="btn_label">
                        <label for="form_category_all"><div class="label_title">Alle kategorier</div>
                        </label>
                    </div>
                </li>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="errors form field">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}