{% extends "@FOSUser/layout.html.twig" %}
{% block content_left %}
{{ render(controller('WebsiteBundle:Default:slotsForSlugAndPosition', {'slug':'fosuser-login', 'position':'form_prefix', 'slotclasses': [''], 'containerclasses': ['vertical']})) }}
{% block fos_user_content %}
    {% if error %}
        <div><ul class="errors"><li>{{ error|trans({}, 'FOSUserBundle') }}</li></ul></div>
    {% endif %}

    <form id="loginform" action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off" novalidate>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <label class="left"
                           for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                </td>
                <td>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="left"
                           for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" required="required"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input class="left" type="checkbox" id="remember_me" name="_remember_me" value="on"/>

                    <div class="left" style="width:1em;height:1em"></div>
                    </div>
                    <label class="left"
                           for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="login" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                </td>
            </tr>
        </table>
    </form>
    <form method="post" novalidate>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2">
                    {{ 'security.login.enableacct_txt'|trans({}, 'FOSUserBundle') }}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="left"
                           for="username">{{ 'security.login.usernameoremail'|trans({}, 'FOSUserBundle') }}</label>
                </td>
                <td>
                    <input type="text" id="username" name="_usernameoremail" value="" required="required"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="login" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.renewaccount.submit'|trans({}, 'FOSUserBundle') }}"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock fos_user_content %}
{% endblock content_left %}
