<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/gladturadmin/css/admin.css') }}"/>
</head>
<body>
<div id="main">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="centered">
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </div>
    {% endif %}

    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <div class="signinform">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>
</body>
</html>
