{% extends "GladturTagBundle::layout.html.twig" %}
{% block content %}
    <h1>Redigering af &quot;Bruger-profil&quot;</h1>


    <form action="{{ path('tvguserprofile_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_row(edit_form.readableName) }}
        {{ form_row(edit_form.avatar) }}
	{% if entity.tags %}
        <ul>
            <li>
                {{ form_row(edit_form.tags) }}
            </li>
        </ul>
	{% else %}
	<h2>{{'No tags are assigned to this category yet' | trans}}</h2>
	{% endif %}
        {{ form_rest(edit_form) }}
        <p>
            <button type="submit">Gem</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tvguserprofile') }}">
                &quot;Bruger-profiler&quot; Oversigt
            </a>
        </li>
        <li>
            <form action="{{ path('tvguserprofile_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="delete">Slet</button>
            </form>
        </li>
    </ul>
{% endblock %}
